
<h3><%= @list_recipe.name %></h3>
<% @list_recipe.recipes.each do  |recipe| %>
  <h3><%=link_to recipe.title, recipe %></h3>
  <p><%= recipe.recipe_type.name %></p>
  <p><%= recipe.user.email%></p>
<%end%>